body {
    font-family: 'Montserrat', sans-serif;
    background-color: #d5d4d5;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-top: 50px;
}

a {
    text-decoration: none;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

a button {
    text-decoration: none;
    color: #fff;
}

a[href="/login"] button {
    background-color: #5A5CC8; 
}

a[href="/login"] button:hover {
    background-color: #3E409E; 
}

a[href="/register"] button {
    background-color: #b390fB; 
}

a[href="/register"] button:hover {
    background-color: #7259B8; 
}
